.h-100vh {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #222;
}

ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  letter-spacing: -0.8px;
}

#hd .inner {
  position: relative;
  max-width: 1258px !important;
  padding: 15px 58px !important;
}
#hd h1 a {
  position: absolute;
  top: 15px;
  left: 30px;
  display: block;
  width: 27px;
  height: 27px;
  background-image: url(../srcimg/common.png);
  background-size: 200px 183px;
  background-position: -171px -127px;
}
#hd #gnb li {
  padding: 0 30px !important;
}
#hd #gnb li a {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 11pt;
}
#hd .sns a {
  position: absolute;
  top: 15px;
  right: 30px;
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../srcimg/common.png);
  background-size: 200px 183px;
  background-position: -171px -66px;
}
#hd .sns span {
  font-size: 0;
}

#banner {
  height: 770px;
}
#banner .adtitle {
  padding: 10px 20px;
  border-radius: 50px;
}
#banner #wrap {
  width: inherit;
  z-index: 30;
  margin: 0 auto;
  margin-bottom: 90px;
  color: white;
}
#banner #wrap .adtitle {
  font-size: 20pt;
}
#banner #wrap .ct-txt {
  margin-top: 18px;
  font-size: 16pt;
}
#banner #wrap .title1 {
  font-size: 40pt;
}
#banner #wrap .title2 {
  font-size: 40pt;
  font-weight: 600;
}
#banner #wrap .bt-text {
  position: absolute;
  bottom: 130px;
}
#banner .boxwrap {
  position: relative;
}
#banner .boxwrap:before {
  content: "";
  width: 100%;
  background-color: #00c978;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 90px;
  right: 0;
}
#banner .boximg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 770px;
  background-image: url(https://campaign-cdn.pstatic.net/0/campaign/2023/03/healthychart/img_v2/bg_spot_green.png);
  background-size: 1500px 770px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  z-index: 10;
}

#pt {
  width: 100%;
}
#pt .f-txt {
  font-size: 18pt;
  letter-spacing: -2px;
}
#pt h3 {
  margin-top: 10px;
  position: relative;
  font-size: 40pt;
  font-family: "Noto Sans KR";
  font-weight: 700;
}
#pt h3 span {
  margin-left: 10px;
  position: absolute;
  font-size: 12pt;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
}
#pt p {
  margin-top: 15px;
  color: rgb(179, 179, 179);
  font-size: 14pt;
}
#pt #pt-wrap {
  display: flex;
  justify-content: center;
}
#pt #pt-box {
  width: 65%;
  height: 600px;
  border-radius: 30px;
  background-color: #508efe;
  background-size: contain;
  background-position: 560px;
  background-position-y: 80px;
  background-repeat: no-repeat;
  background-image: url("https://campaign-cdn.pstatic.net/0/campaign/2023/03/healthychart/img_v2/bg_age_keyword.png");
}
#pt #pt-box .pt-info {
  margin-right: 40px;
  margin-top: 20px;
  text-align: right;
  color: white;
}
#pt #pt-box #pt-ul {
  display: inline-block;
}
#pt #pt-box #pt-ul p {
  font-size: 14pt;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
  color: white;
}
#pt #pt-box #pt-ul li {
  position: relative;
  margin-left: 50px;
  border-bottom: 1px rgba(255, 255, 255, 0.37) solid;
  color: white;
  padding: 15px 0;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 26pt;
}
#pt #pt-box #pt-ul li a {
  color: white;
}
#pt #pt-box #pt-ul i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#pt .agewrap {
  display: flex;
  justify-content: center;
}
#pt #agebox {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  background-color: rgba(244, 245, 246, 0.9);
  display: flex;
  justify-content: center;
  border-radius: 50px;
}
#pt #agebox li {
  padding: 10px 20px;
  border-radius: inherit;
  background-color: rgba(244, 245, 246, 0.9);
}
#pt #agebox li a {
  color: #666;
  font-family: "Noto Sans KR";
  font-weight: 500;
}

.on {
  background-color: #222 !important;
}
.on a {
  color: white !important;
}/*# sourceMappingURL=bby.css.map */